PORT=3000
NODE_ENV=development

# Credenciales de Supabase
# Obtén el connection string en: Supabase > Project Settings > Database > Connect
DB_URL=postgresql://postgres.iabfmowpxcjfkcmxvsqb:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres

# Configuración de scraping
SCRAPE_INTERVAL_MINUTES=60
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36 Edg/131.0.0.0